<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turman.fb">

    <!-- 扩展存储读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 通过NFC传输文件,通过该方式传输的文件需要是扩展存储器存储的文件，需要先开启上面的权限 -->
    <!-- required表示在该权限打开时，程序才能执行 -->
    <uses-permission
        android:name="android.permission.NFC"
        android:required="true" />

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 使用openGL ES -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- 支持纹理压缩 -->
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />
    <!--读取短信的权限-->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".example.IndexActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="mydefine"/>
                <!--加上这个会在打开的默认程序里面显示当前的app-->
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ViewShowActivity" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".example.activitys.ViewFlipperAvtivity"/>
        <activity android:name=".example.activitys.ViewFlipperActivity2"/>
        <activity android:name=".example.toast.ToastActivity"/>
        <activity android:name=".example.notification.NotificationActivity"/>
        <activity android:name=".example.alertdialog.AlertDialogActivity"/>
        <activity android:name=".example.alertdialog.AlertDialogActivity2"/>
        <activity android:name=".example.alertdialog.AlertDialogActivity3"/>
        <activity android:name=".example.popupwindow.PopUpWindowActivity"/>
        <activity android:name=".example.service.TestServiceActivity"/>
        <activity android:name=".example.service.demo.ServiceDemoActivity"/>
        <activity android:name=".example.broadcast.BroadcastActivity"/>
        <activity android:name=".example.broadcast.demo.LoginActivity"/>
        <activity android:name=".example.contentprovider.ContentProviderActivity"/>
        <activity android:name=".example.intent.IntentActivity"/>
        <activity android:name=".example.broadcast.demo.SubjectActivity"
            android:theme="@style/AppTheme"
            />

        <service android:name=".example.service.TestService1">
            <intent-filter>
                <action android:name="com.turman.fb.example.service.TEST_SERVICE1"/>
            </intent-filter>
        </service>

        <service android:name=".example.service.TestService2">
            <intent-filter>
                <action android:name="com.turman.fb.example.service.TEST_SERVICE2"/>
            </intent-filter>
        </service>

        <service android:name=".example.service.TestService3">
            <intent-filter>
                <action android:name="com.turman.fb.example.service.TEST_SERVICE3"/>
            </intent-filter>
        </service>
        <service android:name=".example.service.demo.SendService">
            <intent-filter>
                <action android:name="com.turman.fb.example.service.demo.SEND_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".example.service.demo1.AIDLService">
            <intent-filter>
                <action android:name="android.intent.action.AIDLService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--注册的静态broadcast,重启手机会提示toast-->
        <receiver android:name=".example.broadcast.BootCompleteReceiver">
            <intent-filter>
                <action android:name = "android.intent.cation.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <provider
            android:authorities="com.turman.fb.example.contentprovider.demo.myprovider"
            android:name=".example.contentprovider.demo.NameContentProvider"
            android:exported="true"/>
    </application>

</manifest>
